---
title: "2006 Meeting Notes"
layout: page
---

<p><em>These are rough notes from the KDE e.V. Assembly on 25 September 2006, by Jonathan Riddell</em></p>

<h2>KDE e.V. Annual Assembly, 25 September 2006</h2>

<p>75 here, 99 votes in total including proxies.</p>

<p>Eva: welcome everybody to this general assembly of e.V.  She thinks we have more people here than last year so shows we are good not just at software but everything besides that.</p>

<p>She proposed Chris Schlaeger as being the chair.  Votes.  Everyone is for.</p>

<p>Chris: pleasure to run this show again.  Plenty of work to do today.  Hopes we'll get all of it done today.</p>

<p>He declares the assembly formally open.  Recorded by Will Stephenson who is taking minutes.  Applause for Will.</p>

<p>Were the invitations sent out properly?  No objections.  </p>

<p>We need to find out if we have a quorum and how many are present.  Everyone with a proxy vote should have a card.  Rainer is the voting committee to count the hands for each vote, Jens Herden volunteers to help.</p>

<p>e.V. board report from Cornelius.</p>

<p>One of the main activities last year was creating three working groups, marketing, technical and HCI.  Reports from them coming later.  During creation of the working groups we had some boring but important work to do, tech working group created a charter and we created it with 7 members, the future of this group will be discussed.  We created rules of procedures for supporting members who pay membership fees.  Three types of supporting members, individual, corporate and those who want to spend more.  Those rules were voted on and can now be used.</p>

<p>Also created rules of procedures for online voting.  Drafts on mailing list, will vote on it today.</p>

<p>One of the main activities is Akademy, we are here now.  Last year we had 7 candidates and chose Dublin.  e.v. is active as organiser so there are lots of financial things going through e.V.  Local team is doing most of the work but lots of time consuming tasks for e.V. board.  They support Akademy by reimbursements, this year spend 11,000euro for travel costs of e.V. members and invited people, about the same sum as last year.  For Akademy 2007 we have 1 proposal, we will vote on this later.  </p>

<p>We had two board meetings last year in Mainz and Berlin.  In Mainz we had to get up to speed with the new board members.  Succeeded and have a working board.  In Berlin the meeting was focused on organising Akademy with Marcus Furlong there.  Also had working group reps there to discuss strategic matters.  Good meeting to get information flowing.  e.V. helps represent KDE at events with organisation and financial means.  This year we created a booth box.  Also business cards for e.V. members.  Went to LinuxTag, Linux World Expo, Cebit, Systems.  Also had Ubuntu meeting invited by Mark Shuttleworth.</p>

<p>This year we had quarterly reports initiated by Allen Winter.  Public on the website and hopefully give a more transparent picture of the e.V.  We were also accepted as a charity.  This means we can write receipts and claim back tax, we have to be more careful about how we account for money.  </p>

<p>Created first strategic vision paper.  Still a draft.  Describes activities of e.V. and budget planning.  </p>

<p>Adriaan: SQO project is an EU funded research project over two years to look into tools and techniques for open source quality.  e.V. I involved as a partner so the research project has a prime source of research material to see what tools have an effect on open source development.  Two universities and businesses in it.  More work to be done.</p>

<p>Created a domain holding account so e.V. can hold domains directly, registered kde.eu and kde.in which covers a significant part of the population of the world.</p>

<p>Also finished the trademark of KDE in the US.  </p>

<p>Support for developer sprints: Oxygen, multimedia.  Quanta too.  Trysil KDE 4 meeting.</p>

<p>We have now three lawyers working for us, Carl who did trademarks, contract with Sheppard, Mullin, Richter &amp; Hampton LLP that Andreas Pour works for, Engelhardt and Braune are German lawyers helping e.V. and they are also KDE users.</p>

<p>Last year we got 40 new members.  Shows slide with long list, applause for new members.</p>

f<p>Question from Waldo: why only 11,000euro spend on travel, no more requests?  We agreed to all requests we got, some were retracted but that was all requests that made sense.  We also spent money on tickets for people who couldn't make it.  For people in Europe it isn't too expensive, lots less than $300 per person.</p>

<p>In December 2005 we had an income of a bit more than 40,000euro, almost exclusively donations.  Spent about 35,000euro, mostly travel costs.  Also spent money on legal stuff, lawyers, tax consultant.  Spent a bit of money on hardware.  Profit of 8,600euro in 2005.  So a good number.  money we posses at end of last year is in bank account, paypal, sparcard (credit card) and total is about 49,000 euro.</p>

<p>Shows slide of money held today.  Total today is 58,186euro.  A pretty good state.  We expect some payments now we are non-profit, remaining money from Akademy 2004, 2005, 2006 and also Google summer of code 2006.  About 50,000 euro expected during this year actually income from previous years.  </p>

<p>Auditors of Accounts.</p>

<p>Stephan Binner: he has checked the accounts from last year, nothing found that wasn't spent the right way.  Checked account with financial authorities.</p>

<p>John Tapsell: agrees.</p>

<p>So they suggest to relieve the board of the accounts.</p>

<p>Question on what interest we get on the account?  None, it's a business account.</p>

<p>Vote to relieve the board of last year's duties.  Approved.</p>

<p>Vote to approve agenda.  Approved.</p>

<p>Aaron reports as representative for KDE League.</p>

<p>KDE Free Qt Foundation report from Martin Konold: The Free Qt Foundation reached all of its goals during the past year.  It held one board meeting (the participants were Eirik Eng, Ian Geiseri and Martin Konold) and had frequent email exchanges and regular phone conferences.</p>

<p>In the coming year, the Foundation hopes to simplify the working of some licensing matters.</p>

<p>Question about if patents are in the agreement?  They aren't.  Licencing is about copyright, only recently become about patents.  That's a generic GPL issue, but if you need exceptions we can talk to Trolltech.</p>

<p>Dirk reports from Technical Working Group:  he sent already a report on how the TWG worked or didn't.  No more additions to that and the group hasn't met to discuss what to say so just his opinion.  Had to decide KDE 4 release schedule, KDE 4 components and discuss with other groups that everything will proceed according to plan.  Plan was to create a tech preview by now.  Now release schedule planning has stopped because of lack of ideas.  We created a hacking session in Trysil with help from Thiago and Coolo.  We at least had one snapshot release.  Hopes we can create another one after Qt 4.2 released.  For discussing how to move forward we should meet in BoF.  Conclude that they had problems to get everyone to give input, two people had no time.  Further discussion to be deferred to BoF.  </p>

<p>Marketing group report from Sebas: started a mailing list, some people did the work (Martijn, Tom Chance).  Created a charter called Coherent and Strategic Messaging.  First task was to create a team that worked together, accomplished well.  Fear that communication on closed list would dry out kde-promo but it did not.  Messages on kde-promo list has increased.  Created booth box.  Some logistics to be sorted.  Contains marketing material, displays, network cables.  Need to work out how to send to expo coordinators.  Last week finished building up a press channel to send out press releases to journalists, collected about 40 people including O'Reilly media and other big names in tech media, please send suggestions.  Relationship management is working well, need to get to know people so they know who to approach if there's a question about KDE.  Business cards have been done, need to translate confirmation e-mails.  Documenting local group process.  Regarding KDE 4 have started doing strategic work, about target groups and working with HCI group.</p>

<p>Question, do you have a procedure for joining the mailing list of related teams?  They are keeping an eye on any related lists and trying to pick out people.  Any e.V. member can subscribe to the list.</p>

<p>Question, do you have capacity left or are you exhausted?  Very busy, but not yet burned out.  Could they get involved in the vision paper?  They wrote parts of it and Sebas sees it as one of his tasks.</p>

<p>They show the business cards, and how if you collect the set of 6 you can make the KDE logo.</p>

<p>Olaf Schmidt reports on HCI group: has helped coordinate teams, but difficult to get translators into it because they stick to their own group.  Good cooperation between usability, artwork, documentation, accessibility.  Working on items like colours and sizes where all the teams are involved.  E-mails sent to tech group and Trolltech with requests of what would be useful.  Report from Trolltech mostly good, some things undecided.  Hope at Akademy to work out cooperation with other working groups.  </p>

<p>Ken adds they have the icon testing framework in place.  </p>

<p>George on KHTML working group: among the KHTML developers they have been talking about the future of it.  Talking about and with companies that use it e.g. Apple and Nokia.  Want to create a small group 4 or 5 people to sort out the goals with respect to this.  </p>

<p>Support from Martin Konold.  Very important they we get better organised meeting with other organisations, lots of stuff on George's shoulders.  Proposed not just to create group but give it budget too so members can afford to go to meetings.  </p>

<p>There was a KHTML meeting that only George could attend.  Probably another such meeting, really do need to get more people there.  </p>

<p>Cornelius agrees it's a good thing for the group to have a budget, but should be group proposes budget then that can be agreed on.  Mirko says we should set it up and have it report back at next Akademy, rather than 6 months where we can't discuss it after that time.</p>

<p>Adjourn for lunch.</p>

<p>Vote for increasing the board from 4 to 5 people.  Approved.</p>

<p>Mirko has served 7 years on the board and now wants to stand down.  Applause for Mirko.  Adriaan stands as candidate.  </p>

<p>KDE League reps: Aaron and John Tapsell stand.</p>

<p>KDE Free Qt Foundation reps: Ian Geiser indicated on mailing list he wanted to stand, Martin Konold stands.</p>

<p>e.V. 5th board member.  Sebas Kuegler stands.  Jes Hall stands.</p>

<p>Votes have now been counted for Mirko's replacement on the board.  93 for Adriaan, 4 invalid (people wrote "yes" instead of the name).  Adriaan accepts the vote.  Applause.</p>

<p>Votes for KDE League reps.  No objections.  Aaron approved. John approved.</p>

<p>Votes for KDE Free Qt Foundation.  No objections. Ian Approved.  Martin Approved.</p>

<p>Votes for 5th board member now counted.  Sebas gets more votes than Jes.  He accepts.</p>

<p>Auditors for accounts.  Binner re-runs.  John doesn't.  Claire Lotion runs.  No objections, Binner and Claire accepted.</p>

<p>Votes for rules of online voting, which were previously circulated on the mailing list.  No objections.</p>  

<p>Vote for Akademy 2007 location.  Kenny talks about the proposal.  He's a sysadmin, the department are in support, he's got people to help out, youth hostel has hundreds of beds other places near by, unsure about industry support.  Very few objections.  Location is approved.</p>

<p>Vote on technical working group.  options are a) discontinue the TWG, b) continue but redefine the charter and new people, c) continue as is.  option B wins.</p>

<p>Discussion on George's KHTML working group proposal.  Mostly about if this is too bureaucratic and if it will split KHTML developers between those in the official group and those not.  Some no votes, some abstentions, more yes votes.</p>

<p>Coolo talks about creating a sysadmin group.  Currently three active people him, David and Dirk, mostly Dirk.  The board wants this as a working group because it requires some money from time to time.  Eva says there are more and more groups who want money now so sysadmins should have a budget too.  Proposal accepted.</p>

<p>Discussion about hiring an administrator is postponed because board wants to prepare it more.  Fundraising proposal also postponed.  Strategic Vision Document discussion also postponed.</p>

<p>Some discussion about membership of KDE e.v. in other organisations, but vote and more discussion postponed.</p>

<p>Membership of individuals of other groups supported by e.V.  Feeling is people are happy with proposals for cases of that.</p>

<p>Official position of e.V. regarding software patents.  Cornelius proposes to work together with FSF Europe to create an official position.  Discussion about us working with pro-patent companies when we have a strong statement against them.  Everyone agrees to work with FSF Europe to create a statement.</p>

<p>kde.org domain.  Martin holds the domain which he registered 10 years ago.  He thinks it is time to transfer the kde.org domain to KDE e.V. since they can now do it technically.</p>

<p>Finally Jens Herden has his birthday today.  Applause for him.  He has wine or orange juice for those who want it.</p>

<p>Meeting is closed.</p>
