<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/krita.png" /> <a href="https://krita.org">Krita Sprints, May & October 2018, Deventer</a></h2>
                    <h5>By Boudewijn Rempt</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>May Sprint</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                                <img width="100%" src="images/sprints/Krita-spring.jpg" alt=""/>
                                <!--<figcaption>Thanks to Community onboarding efforts, nearly half the attendees were new KDE members at Akademy 2018.</figcaption>-->
                            </figure>
                        
                            <p>On May 17th 2018, Krita developers and artists from all around the world came to the sleepy provincial town of Deventer to discuss all things Krita-related and do some good, hard work. After all, the best cheese shop in the Netherlands is located in Deventer - as are the Krita Foundation headquarters! We started the sprint on Thursday, and the last people left on the following Tuesday.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Events like these are very important: bringing people together, not just for serious discussions and hacking, but for lunch and dinner and rambling walks. It makes interaction much easier when we go back to our IRC channel, #krita. Also, we didn't have a big sprint in 2017, so the last event like this was in 2016.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>So...what did we do? We first had a long meeting where we discussed the following topics:</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h4>The 2018 Fundraiser</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>We received about €2000 a month in donations and have about eighty development subscribers. This is pretty awesome, and goes a long way towards funding Dmitry's work. Fundraisers are always a fun and energizing way to get together with our community. However, Kickstarter is out: it's a bit of a tired formula. Instead we wanted to figure out how to make this more of a festival or a celebration. The 2018 fundraiser didn't have feature development as a target, because…</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>...2018's focus was zero bugs! Over the prior couple of years we had implemented a lot of features, ported Krita to Qt5, and in general produced astonishing amounts of code. But not everything was done, and we had way too many open bug reports, way too many failing unit tests, way too many features that aren't completely done yet. Our goal for 2018 was to work on that.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h4>Unfinished Business</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>We identified a number of areas with "unfinished business" that we needed to get back to. We asked the artists present at the sprint to rank those activities, and this was the result:</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p><B>Boudewijn would work on:</B>

                            <ul>
                                <li><a href="https://phabricator.kde.org/T379">Fixing resource management</a></li>
                                <li>The shortcut and canvas input unification and related bugs</li>
                                <li>Improving G'Mic integration</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p><B>Dmitry would work on:</B>

                            <ul>
                                <li>Masks and selections</li>
                                <li>Improving the text layout engine for OpenType support, vertical text, more SVG2 text features</li>
                                <li>SVG leftovers: support for filters and patterns, winding mode and grouping</li>
                                <li>Layer styles leftovers</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p><B>Jouni would work on animation leftovers such as:</B>
                            <ul>
                                <li>Frame cycles and cloning</li>
                                <li>Transform mask interpolation curves</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p><B>Wolthera would work on:</B>
                            <ul>
                                <li>Collecting information about missing scripting API</li>
                                <li>Color grading filters</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h4>Releases and Improvements</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Krita 4.1.0 was released on June 27th and we continued doing monthly bugfix releases. We asked the KDE system administrators whether we could have nightly builds of the stable branch so people can test the bugfix releases before we actually release them. Krita 4.1 had lots of animation features, animation cache swapping, session management and the reference images tool, and more.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>We also discussed the resource management fixing plan, and worked really hard on making the OpenGL canvas work even smoother (especially on macOS, where it wasn't that smooth). We added ffmpeg to the Windows installer, fixed translation issues and improved autosave reliability. We also fixed animation-related bugs and implemented support for a cross-channel curves filter for color grading. </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>At the same time, people who weren't present worked on improving OpenEXR file loading (it's multi-threaded now, among other things). They fixed issues with the color picker, simplified its code, and added even more improvements to the animation timeline.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Wolthera, Timothee and Raghukamath also finished porting our manual to Sphinx, so we can generate offline documentation and support translations of the manual (which is over 1000 pages long!).</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>There were three people who hadn't attended a sprint before: artist Raghukamath, ace Windows developer Alwin Wong, and Valeriy Malov, the maintainer of the KDE Plasma desktop tablet settings utility. Valeriy worked on improving support for Cintiq-like devices during the sprint.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>October Sprint</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                                <img width="100%" src="images/sprints/krita_autumn.jpg" alt=""/>
                                <!--<figcaption>Thanks to Community onboarding efforts, nearly half the attendees were new KDE members at Akademy 2018.</figcaption>-->
                            </figure>
                        
                            <p>Krita's autumn development sprint coincided with the last week of the fundraiser, in which almost 5 months’ worth of bug fixing got funded.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Eight people attended the sprint: Boudewijn, the maintainer; Dmitry, whose work is being sponsored by the Krita Foundation through our fundraiser; Wolthera, who works on the manual, videos, code and scripting; Ivan, who did the brush vectorization Google Summer of Code project this year; Jouni, who implemented the animation plugin, session management and the reference images tool; Emmet and Eoin who started coding on Krita a short while ago, and who have worked on the blending color picker and kinetic scrolling.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>We did a ton of work! Wolthera solved the last few problems in Michael Zhou's Google Summer of Code rewrite of the palette docker. That was merged to master, so it's now part of the Windows and Linux builds. We did some pair programming so the text tool now creates new text with the currently selected color.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Jouni made a lot of progress with the implementation of animation clones and cycles. This allows a set of frames to be "cloned" and appear in several places in your animation.</p>
                            
                            <video width="100%" controls="true">
                                <source src="https://krita.org/wp-content/uploads/2018/10/demo.mp4" type="video/mp4" />
                                Your browser does not support the video tag.
                            </video>
                                
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Then we sat down and distributed bugs to the coders present, and we got rid of over 20 bugs in one session.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h4>Adventures in Live Streaming</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>We continued to fix bugs for the rest of the week, and also experimented a bit with streaming. We managed to live-stream bug fixing on Twitch! During the stream, we answered questions sent by our users.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Users also voted on what we should concentrate on during the sprint:</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Topic</th> <th>Votes</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Papercuts</td> <td class="text-right">164</td>
                            </tr>
                            <tr>
                                <td>Brush Engine</td> <td class="text-right">103</td>
                            </tr>
                            <tr>
                                <td>Animation</td> <td class="text-right">88</td>
                            </tr>
                            <tr>
                                <td>Vector Objects and Tools</td> <td class="text-right">56</td>
                            </tr>
                            <tr>
                                <td>Layers</td> <td class="text-right">51</td>
                            </tr>
                            <tr>
                                <td>Text</td> <td class="text-right">36</td>
                            </tr>
                            <tr>
                                <td>Photoshop layer styles</td> <td class="text-right">28</td>
                            </tr>
                            <tr>
                                <td>Color Management</td> <td class="text-right">21</td>
                            </tr>
                            <tr>
                                <td>Resource Management and Tagging</td> <td class="text-right">18</td>
                            </tr>
                            <tr>
                                <td>Shortcuts and Canvas Input</td> <td class="text-right">12</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The only real change with prior votes is that <I>Resource Management</I> dropped below <I>Color Management</I> in priority. For the rest, the order is pretty stable.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Wolthera made a cool video showing off gamut masks and the new palette docker, created by two new Krita contributors. We had people from the US, Mexico, Russia, Finland and the Netherlands at the sprint. For three of the attendees, it was their first Krita sprint ever. All in all, it was great to be together again, and we look forward to our next gathering!</p>
                            
                            <center style="margin: 1ex">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/d3_HL9OoHs4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </center>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br/>
</section>
