<section id="new-members" class="parallax">
    <br id="new-members-ref"/>
    <br/>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>The Organization</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>New Members</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    KDE e.V. is happy to welcome the following new members:
                </div>
            </div>
        </div>
        <ul class="row wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <li class="col-sm-12 col-xs-12">
                Chris Rizzitello
            </li>
            <li class="col-sm-12 col-xs-12">
                Frederico Guimarães
            </li>
            <li class="col-sm-12 col-xs-12">
                Jaime Torres Amate
            </li>
            <li class="col-sm-12 col-xs-12">
                Nate Graham
            </li>
            <li class="col-sm-12 col-xs-12">
                Heiko Becker
            </li>
            <li class="col-sm-12 col-xs-12">
                Neofytos Kolokotronis
            </li>
            <li class="col-sm-12 col-xs-12">
                Tobias Fischbach
            </li>
            <li class="col-sm-12 col-xs-12">
                Dimitris Kardarakos
            </li>
            <li class="col-sm-12 col-xs-12">
                Claus Christensen
            </li>
            <li class="col-sm-12 col-xs-12">
                Andrius Štikonas
            </li>
            <li class="col-sm-12 col-xs-12">
                Fabian Riethmayer
            </li>
            <li class="col-sm-12 col-xs-12">
                Gregor Mitsch
            </li>    
        </ul>
    </div>
    <br />
</section>
