---
title: "KDE e.V. Advisory Board Working Group"
layout: page
---

<h3 id="goals">Goals</h3>
<p>The Advisory Board Working Group has the following tasks:</p>
<ul>
<li>Be available as contacts for questions and feedback from the Advisory Board members</li>
<li>Take feedback and questions from the Advisory Board into the wider KDE community</li>
<li>Organize Advisory Board meetings</li>
</ul>
<h3 id="members">Members</h3>
<p>The Advisory Board Working Group consist of one volunteer contact person for each Advisory Board member organization. The current members are:</p>
<ul>
<li>Kai Uwe Broulik</li>
<li>Tomaz Canabrava</li>
<li>Helio Chissini de Castro</li>
<li>David Edmundson</li>
<li>Eike Hein</li>
<li>Christian Loosli</li>
<li>Thomas Pfeiffer</li>
<li>Lydia Pintscher</li>
<li>Aleix Pol</li>
<li>Sébastien Renard</li>
<li>Cornelius Schumacher</li>
</ul>

<h3 id="contact">Contact</h3>
<p>You can contact the Advisory Board Working Group under <a href="mailto:advisory-board-contacts@kde.org">advisory-board-contacts@kde.org</a></p>
