<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://ev.kde.org/advisoryboard.html" target="_blank">Advisory Board</a>
        </h2>
    </div>
</div>
<div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-info">
                <p>Current members: April, Blue Systems, Canonical, City of Munich, FOSS Nigeria, FSF, FSFE, OSI, Private Internet Access, SUSE, The Document Foundation, and The Qt Company.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://ev.kde.org/advisoryboard.html" target="_blank">Patrons</a>
        </h2>
    </div>
</div>
<div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-info">
                <p>Current patrons: Blue Systems, Canonical, Google, The Qt Company, and SUSE.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://ev.kde.org/community-partners.html" target="_blank">Community Partners</a>
        </h2>
    </div>
</div>
<div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-info">
                <p>Current community partners: Qt Project, Lyx and Randa Meetings.</p>
            </div>
        </div>
    </div>
</div>
