<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{{ site.title }}</title>

  {% if page.summary %}
  <meta name="description" content="{{ page.summary | escape }}">
  {% endif %}
  {% if page.tags %}
  <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
  {% endif %}

  <!-- Icons -->
  <link href="https://kde.org/assets/aether/media/192x192.png" rel="icon" sizes="192x192" />
  <link href="https://kde.org/assets/aether/media/180x180.png" rel="apple-touch-icon" sizes="180x180" />
  <link href="https://kde.org/assets/aether/media/128x128.svg}" rel="icon" sizes="128x128" />
  <link href="https://kde.org/assets/aether/media/64x64.svg" rel="icon" sizes="64x64" />
  <link href="https://kde.org/assets/aether/media/32x32.svg" rel="icon" sizes="32x32" />
  <link href="https://kde.org/assets/aether/media/24x24.svg" rel="icon" sizes="24x24" />
  <link href="https://kde.org/assets/aether/media/16x16.svg" rel="icon" sizes="16x16" />

  <link href="https://cdn.kde.org/aether-devel/bootstrap.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ '/css/report.css' | relative_url }}">
  <script src="https://cdn.kde.org/aether-devel/bootstrap.js?{{ version }}" defer=""></script>

  <link href="../shared-assets/css/animate.min.css" rel="stylesheet"/>
  <link href="../shared-assets/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="../shared-assets/css/lightbox.css" rel="stylesheet"/>
  <link href="../shared-assets/css/main.css" rel="stylesheet"/>
</head>
<body>
  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(images/slider/1.jpg); background-position-x: center;">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">
              <span>KDE e.V.</span> COMMUNITY REPORT<br/>
            </h1>
            <p class="animated fadeInLeftBig">
              <img class="img-responsive center-block" src="../shared-assets/images/logo.png" alt="logo"/>
            </p>
            <p class="animated fadeInRightBig">{{ page.year }} | Issue {{ page.issue_number }}</p>
            <p class="animated fadeInRightBig">{{ page.date | date: '%B %Y' }}</p>
            <a class="btn btn-start animated fadeInUpBig" href="#{{ page.menu[1].heading | slugify }}">Read now</a>
          </div>
      </div>
    </div>
    <a id="tohash" href="#{{ page.menu[1].heading | slugify }}">
      <i class="fa fa-angle-down"></i>
    </a>
  </div>
</header>
<header class="header">
  <nav class="navbar navbar-expand-lg">
    <a class="app-logo navbar-brand active" href="https://ev.kde.org" target="_blank">
      <img src="../shared-assets/images/logo.png" alt="logo"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-kde" aria-controls="navbar-kde" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-kde">
      <ul class="navbar-nav mr-auto">
        {% for menu in page.menu %}
          {% if menu.home or menu.heading %}
            {% unless menu.nonav %}
            <li class="nav-item">
              <a class="nav-link {% if menu.title == "Home" %}active{% endif %}" href="#{% if menu.home %}home{% else %}{{ menu.heading | slugify }}_{% endif %}" aria-haspopup="true" aria-expanded="false">
                {{ menu.title }}
              </a>
            </li>
            {% endunless %}
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="{{ menu.title | slugify }}-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ menu.title }}
              </a>
              <div class="dropdown-menu" aria-labelledby="{{ menu.title | slugify }}-dropdown">
                {% for item in menu.items %}
                  {% if item.heading %}
                    <a class="dropdown-item" href="#{{ item.heading | slugify }}_">{{ item.title }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
<main id="home">
{% for menu in page.menu %}
  {% if menu.home %}
  {% else %}
    {% if menu.heading %}
      {% if menu.separator %}
        <section class="bg-medium py-3 mb-3">
          <h2 class="container" id="{{ menu.heading | slugify }}_">{{ menu.heading }}</h2>
        </section>
      {% endif %}
      <div class="{{ menu.heading | slugify }} {% if subitem.bglight %} bg-light {% endif %}">
        <article class="container">
          {% unless menu.separator == true %}
          <h2 id="{{ menu.heading | slugify }}_">
            <img src="{{ menu.image }}" alt="" />
            {{ menu.heading }}
          </h2>
          {% endunless %}
          {% unless menu.author == "" %}
            <h3 class="text-muted">By {{ menu.author }}</h3>
          {% endunless %}
          {% if menu.include %}
            {% capture my_include %}{% include_relative {{ menu.include }} %}{% endcapture %}
            {{ my_include | markdownify }}
          {% endif %}
        </article>
      </div>
    {% endif %}
    {% for item in menu.items %}
      {% if item.heading %}
      <section class="bg-medium py-3 my-0">
        <h2 class="container" id="{{ item.heading | slugify }}_">{{ item.heading }}</h2>
      </section>
      {% endif %}
      {% for subitem in item.items %}
        <div class="{{ item.heading | slugify }} {% if subitem.bglight %} bg-light {% endif %}">
          <article class="container py-4">
           {% if subitem.heading %}
             <h2 id="{{ item.heading | slugify }}_" class="mt-0">
               <img src="{{ subitem.image }}" alt="" />
               {{ subitem.heading }}
             </h2>
             {% unless subitem.author == "" %}
               <h3 class="text-muted">{{ subitem.author }}</h3>
             {% endunless %}
          {% endif %}
          {% capture my_include %}{% include_relative {{ subitem.include }} %}{% endcapture %}
          {{ my_include | markdownify }}
          </article>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}
{{ content }}
</main>
<footer id="kFooter" class="footer">
  <div class="container">
    <small>
      KDE<sup>®</sup> and <a href="https://kde.org/media/images/trademark_kde_gear_black_logo.png">the K Desktop Environment<sup>®</sup> logo</a> are registered trademarks of <a href="https://ev.kde.org/" title="Homepage of the KDE non-profit Organization">KDE e.V.</a> |
      <a href="https://www.kde.org/community/whatiskde/impressum">Legal</a>
      {% if site.source-code %}
        This websites is Free Sotfware licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.de.html">AGPL</a>.
        <a href="{{ site.source-code }}">Source code</a>.
      {% endif %}
    </small>
  </div>
</footer>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = "https://stats.kde.org/";
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
piwik_action_name = 'KDE e.V. Homepage';
piwik_idsite = 7;
piwik_url = pkBaseURL + "piwik.php";
piwik_log(piwik_action_name, piwik_idsite, piwik_url);
</script>
<script type="text/javascript" src="/media/javascripts/piwikbanner.js"></script>
<object><noscript><p>Analytics <img src="https://stats.kde.org/piwik.php?idsite=7" style="border:0" alt=""/></p></noscript></object>
</body>
</html>
