---
title: "KDE e.V. Travel Cost Reimbursement Policy"
layout: page
---

<h2>Eligibility</h2>

<ul>
  <li>
    <p>KDE e.V. can only reimburse costs that incurred in pursuit of
    the goals of KDE e.V. or for KDE e.V. running its business.</p>
  
    <p>The following reasons are usually valid:</p>

    <ul>  
      <li>Attending the general assembly of the KDE e.V. as a member</li>
      <li>Giving a talk at a KDE event</li>
      <li>Representing KDE at a conference or an important meeting</li>
      <li>Taking part in a developer sprint or other meeting as a KDE
      contributor</li>
    </ul>
  </li>
  
  <li>You should first try to get your employer to pay for your trip, find a third
  party sponsor or consider paying for it from your own funds.</li>

  <li>If you wouldn't be able to attend the event because of the costs or paying for
  it yourself would be a great burden for you because you have no or a low
  income or the costs are especially high, you should request a
  reimbursement.</li>
</ul>


<h2>Amount</h2>

<h3 id="bigevents">Big Community Events (Akademy, Camp KDE)</h3>

<ul>
  <li>The KDE e.V. usually reimburses up to 80% of the travel expenses for the
  cheapest reasonable way, subject to availability of funds. This covers
  transport like air fares or train tickets.</li>

  <li>If needed the KDE e.V. will additionally reimburse up to 25 EUR per night
  of accommodation costs, subject to availability of funds.</li>

  <li>In circumstances, where a contributor cannot even afford the remaining 
  20% (this usually only applies to people from outside Western Europe and 
  North America), KDE e.V. can even pay 100% of your travel expenses.</li>
</ul>

<h3>Focused Meetings</h3>

For focused meetings like developer sprint or representation of KDE at events,
KDE e.V. takes over 100% on request. Food costs are usually not covered.

<h2>Travel Support Workflow</h2>

<p>You cannot get the money beforehand, you need to pay by yourself and then get your expenses reimbursed afterwards. If you are absolutely unable to do that, it is possible for the e.V. to directly pay your expenses.</p>

<ol>
  <li>
    <p>The board must approve the budget <strong>before</strong> the trip.</p>
    <ul>
        <li>If it's about attending a <em>KDE Sprint</em>, it will be managed by the sprint organization.</li>
        <li>If you want to be funded to attend an <em>external event</em>, please contact the KDE e.V. Board &lt;kde-ev-board@kde.org&gt; to make sure it can be included in the budget.
        <p>Please provide the KDE e.V. board with the following information:</p>
        <ul>
            <li>Who you are and where in KDE you are involved</li>
            <li>What's the purpose of your trip</li>
            <li>Why it is a good thing to sponsor you</li>
            <li>Why you need a subsidy</li>
            <li>What are your costs and how much should your subsidy be</li>
        </ul>
        </li>
    </ul>
  </li>

  <li>Once approved, you must create a new <em>Travel Support Request</em> in <a href="https://reimbursements.kde.org/" target="_blank">https://reimbursements.kde.org</a>.</li>
  <li>Once the <em>Travel Support Request</em> is approved, accept it if everything is in order.</li>
  <li>Attend and enjoy your meeting! Remember to collect the receipts.</li>
  <li>After the travel, you must create a new <em>Reimbursement</em> in <a href="https://reimbursements.kde.org/" target="_blank">https://reimbursements.kde.org</a> less than 3 months after the event and add all receipts (scanned copies) and additional documents. <em>Reimbursements</em> without proper receipts won't be processed.</li>
  <li>As part of the reimbursement mentioned about you must[*] link to a dot story or a post on Planet KDE, explaining how it helped KDE and what you have learned and experienced in relation to KDE during your trip, this way the wider KDE Community can learn about the experience too. (* there are some exceptions)</li>
  <li>Then the <em>Reimbursement</em> will be processed, and paid.</li>
</ol>

<h2>Additional Information</h2>
<p>Generally, reimbursements will be transfered to bank or paypal accounts.</p>

<ul>
    <li>For transfers to bank accounts, the following information is needed:
      <ul>
        <li>For IBAN transfers: name of the account holder, name of the financial institution, IBAN number.</li>
        <li>For other transfers: name of the account holder, name of the financial institution, account number, national bank code, postal address
        of the bank and the country.</li>
      </ul>
    </li>
    <li>For transfers to paypal accounts, we need the paypal id.</li>
</ul>

<hr/>

<p><em>This policy is maintained by the board of the KDE e.V.</em></p>
